<form id="frmCad" action="<%= url%>" method="post">
	<fieldset>
		<legend>Cadastro</legend>
		<label>Nome*</label>
		<input name="name" type="text" value="<%=name%>" maxlength="45" required /><br>

		<label>preço*</label>
		<input name="preco" type="text" value="<%=preco%>" maxlength="11" required /><br>

		<label>descrição*</label>
		<input name="descricao" type="text" value="<%=descricao%>" maxlength="255"><br>

		<input name="id" type="hidden" value="<%=id%>">
		
		<input type="submit" value="Enviar" title="Enviar" />
	</fieldset>
</form>