<!doctype html>
<html>
  <head>
    <title>MATERIAS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>
    <script>
      function del(id) {
        if (!id || id <= 0) {
          return;
        }
        if (confirm('Deseja realmente excluir?')) {
          window.location = '/materiaPrima/'+id+'/remove';
        }
      }
    </script>
  </head>
  <body>
    <a id="linkHome" href="/">Home</a>
    <table id="tabs">
      <tr>
        <td>info</td>
        <td>Id</td>
        <td>Nome</td>
        <td>preco</td>
      </tr>
    <%
      for (var index in materias) {%>
        <tr>
          <td><a href="/materiaPrima/<%=materias[index].id%>/edit">show</a></td>
          <td><%=materias[index].id%></td>
          <td><%=materias[index].name%></td>
          <td><%=materias[index].preco%></td>
          <td><a href="/materiaPrima/<%=materias[index].id%>/edit">edit</a></td>
          <td><a href="javascript:void(0)" onclick="del(<%=materias[index].id%>)">delete</td>
        </tr> 
    <%}%>
  </table>
  <h3 id="qtd">Qtd de materias registradas: <%= materias.length%></h3>
    <a id="linkCad" href="/materiaPrima/add">Cadastrar materia</a>
  </body>
</html>