<!doctype html>
<html>
  <head>
    <title>MATERIAS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>
    <script>
      function del(id) {
        if (!id || id <= 0) {
          return;
        }
        if (confirm('Deseja realmente excluir?')) {
          window.location = '/materiaPrima/'+id+'/remove';
        }
      }
    </script>
  </head>
  <body>
    <div class="header">
      <div id="headline">
        <a id="linkHome" href="/">Home</a>
        <a id="linkProdutos" href="/produto">Produtos</a>
        <a id="linkMaterias" href="/materiaPrima">Matérias Primas</a>
    </div>
  </div>  
  <div class="container">
    <div class="div_cadastrar">
      <a id="linkCad" href="/materiaPrima/add">Cadastrar materia</a>
    </div>
    <div class="div_tabela">
  <table id="tabs">
      <tr>
        <td id="active">info</a>
        <td id="active">Nome</td>
        <td id="active">preco</td>
      </tr>
    <%
      for (var index in materias) {%>
        <tr>
          <td><a href="/materia/<%=materias[index].id%>/info">show</a></td>
          <td><%=materias[index].name%></td>
          <td><%=materias[index].preco%></td>
          <td><a href="/materiaPrima/<%=materias[index].id%>/edit">edit</a></td>
          <td><a href="javascript:void(0)" onclick="del(<%=materias[index].id%>)">delete</td>
        </tr> 
    <%}%>
  </table>
  <div>
  </div>
  </body>
</html>